.DS_Store
__pycache__/
*.pyc
.env

0__final_classification/cls_model/
0__final_classification/further_pretraining_model/
0__final_classification/poetry.lock
0__final_classification/pyproject.toml

1__tutor_response_generation__preference_dataset_construction/dam_tutor_only_best_model/
1__tutor_response_generation__preference_dataset_construction/poetry.lock
1__tutor_response_generation__preference_dataset_construction/poetry.toml
1__tutor_response_generation__preference_dataset_construction/pyproject.toml

